name: Build Emacs on Windows 2025

on:
  workflow_dispatch:
    inputs:
      debug_enabled:
        type: boolean
        description: 'Run the build with tmate debugging enabled (https://github.com/marketplace/actions/debugging-with-tmate)'
        required: false
        default: false
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: windows-2025
    name: Build Emacs (Windows 2025)

    steps:
      - name: Setup MSYS2
        uses: msys2/setup-msys2@v2
        with:
          update: true
          install: >-
            base-devel
            autoconf
            automake
            git
            texinfo
            make
            mingw-w64-x86_64-toolchain
            mingw-w64-x86_64-make
            mingw-w64-x86_64-libjpeg-turbo
            mingw-w64-x86_64-libtiff
            mingw-w64-x86_64-giflib
            mingw-w64-x86_64-libpng
            mingw-w64-x86_64-libxml2
            mingw-w64-x86_64-gnutls
            mingw-w64-x86_64-zlib
            mingw-w64-x86_64-harfbuzz
            mingw-w64-x86_64-jansson

      - name: Configure git
        run: |
          git config --global core.autocrlf false
          git config --global core.eol lf
          git config -l

      - name: Get Emacs cache key
        id: cache-key
        shell: msys2 {0}
        run: |
            echo "key=emacs-master-$(git ls-remote https://github.com/pkryger/emacs.git master \
                                         | cut -f 1)" \
                >> "$GITHUB_OUTPUT"

      - name: Restore cached Emacs build on master branch
        id: restore-cache
        uses: actions/cache/restore@v4
        with:
          path: emacs
          key: ${{ steps.cache-key.outputs.key }}

      - name: Checkout Emacs source on master branch
        if: steps.restore-cache.outputs.cache-hit != 'true'
        uses: actions/checkout@v4
        with:
          repository: pkryger/emacs
          ref: master
          path: emacs

      - name: Build Emacs on master branch
        if: steps.restore-cache.outputs.cache-hit != 'true'
        shell: msys2 {0}
        working-directory: emacs
        run: |
          ./autogen.sh
          ./configure --prefix=/mingw64 --without-native-compilation
          make -j$(nproc)

      - name: Cache Emcas build on master branch
        if: steps.restore-cache.outputs.cache-hit != 'true'
        uses: actions/cache/save@v4
        with:
          path: emacs
          key: ${{ steps.cache-key.outputs.key }}

      - name: Checkout Emacs source on dev branch
        uses: actions/checkout@v4
        with:
          clean: false
          repository: pkryger/emacs
          ref: dev-emacs-31-package-vc
          path: emacs

      - name: Build Emacs source on dev branch
        shell: msys2 {0}
        working-directory: emacs
        run: |
          make -j$(nproc)

      - name: Run package-vc-tests
        shell: msys2 {0}
        working-directory: emacs
        run: |
          ./src/emacs -batch -l ../test/lisp/package-vc-tests.el \
              -eval '(vc-git-command nil 0 nil "config" "--global" "user.email" "emacs-dev[bot]@users.noreply.github.com")' \
              -eval '(vc-git-command nil 0 nil "config" "--global" "user.name" "emacs-dev[bot]")' \
              -eval '(vc-git-command nil 0 nil "config" "--global" "branch.autosetupmerge" "true")' \
              -f ert-run-tests-batch-and-exit

      - name: Setup tmate session
        uses: mxschmitt/action-tmate@v3
        if: ${{ always() && github.event_name == 'workflow_dispatch' && inputs.debug_enabled }}
