name: Build Emacs on Windows 2025

on:
  workflow_dispatch:
    inputs:
      tmate:
        type: boolean
        description: 'Run the build with tmate debugging enabled (https://github.com/marketplace/actions/debugging-with-tmate)'
        required: false
        default: false
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: windows-2025
    name: Build Emacs (Windows 2025)

    steps:
      - name: Setup Emacs dev build
        uses: pkryger/emacs-dev@main
        with:
          repository: pkryger/emacs
          path: emacs
          dev-ref: dev-emacs-31-package-vc

      - name: Checkout helper scripts
        uses: actions/checkout@v4
        with:
          path: emacs-dev

      - name: Run package-vc-tests
        shell: msys2 {0}
        working-directory: emacs
        run: |
          ./src/emacs -batch \
               -l "${{ github.workspace }}\emacs-dev\quote-upstream.el" \
               -l ../test/lisp/package-vc-tests.el \
              -eval '(vc-git-command nil 0 nil "config" "--global" "user.email" "emacs-dev[bot]@users.noreply.github.com")' \
              -eval '(vc-git-command nil 0 nil "config" "--global" "user.name" "emacs-dev[bot]")' \
              -eval '(vc-git-command nil 0 nil "config" "--global" "branch.autosetupmerge" "true")' \
              -f ert-run-tests-batch-and-exit

      - name: Setup tmate session
        uses: mxschmitt/action-tmate@v3
        if: ${{ always() && github.event_name == 'workflow_dispatch' && inputs.debug_enabled }}
        with:
          msys2-location: ${{ steps.setup-msys2.outputs.msys2-location }}
