name: Build and Test dev-emacs-31-package-vc

on:
  workflow_dispatch:
    inputs:
      branch:
        type: choice
        description: Branch for setup-emacs-dev action
        required: false
        default: same-as-workflow
        options:
          - dev
          - main
          - same-as-workflow
      tmate-windows:
        type: boolean
        description: '[Windows] Enable tmate'
        required: false
        default: false
      tmate-windows-pwsh:
        type: boolean
        description: '[Windows pwsh] Enable tmate'
        required: false
        default: false
      tmate-linux:
        type: boolean
        description: '[Linux] Enable tmate'
        required: false
        default: false
      tmate-macos:
        type: boolean
        description: '[macOS] Enable tmate'
        required: false
        default: false
  push:
    branches: [ main ]
    paths-ignore:
      - '**.md'
      - '**.org'
      - '.gitignore'
  pull_request:
    paths-ignore:
      - '**.md'
      - '**.org'
      - '.gitignore'

jobs:
  build-and-test:
    runs-on: ${{ matrix.os }}
    name: (${{ matrix.os }}) Build and Test dev-emacs-31-package-vc

    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]

    steps:
      - name: Setup Emacs dev build (main branch)
        id: sed-main
        if: >-
          ${{ ! inputs.branch
              || inputs.branch == 'main'
              || (inputs.branch == 'same-as-workflow'
                  && github.ref_name == 'main' )}}
        uses: pkryger/setup-emacs-dev@main
        with:
          dev-ref: dev-emacs-31-package-vc
          tmate: >-
            ${{ (runner.os == 'Windows' && inputs.tmate-windows)
                || (runner.os == 'Linux' && inputs.tmate-linux)
                || (runner.os == 'macOS' && inputs.tmate-macos) }}

      - name: Setup Emacs dev build (dev branch)
        id: sed-dev
        if: >-
          ${{ inputs.branch == 'dev'
              || (inputs.branch == 'same-as-workflow'
                  && github.ref_name == 'dev' )}}
        uses: pkryger/setup-emacs-dev@dev
        with:
          dev-ref: dev-emacs-31-package-vc
          tmate: >-
            ${{ (runner.os == 'Windows' && inputs.tmate-windows)
                || (runner.os == 'Linux' && inputs.tmate-linux)
                || (runner.os == 'macOS' && inputs.tmate-macos) }}

      - name: Run package-vc-tests
        shell: setup-emacs-dev-bash {0}
        working-directory: >-
          ${{ steps.sed-main.outputs.path
              || steps.sed-dev.outputs.path }}
        run: |
          ./src/emacs -batch \
              -l ../test/lisp/package-vc-tests.el \
              -f ert-run-tests-batch-and-exit

  build-and-test-pwsh:
    runs-on: windows-latest
    name: (windows-latest/pwsh) Build and Test dev-emacs-31-package-vc

    steps:
      - name: Setup Emacs dev build (main branch)
        id: sed-main
        if: >-
          ${{ ! inputs.branch
              || inputs.branch == 'main'
              || (inputs.branch == 'same-as-workflow'
                  && github.ref_name == 'main' )}}
        uses: pkryger/setup-emacs-dev@main
        with:
          dev-ref: dev-emacs-31-package-vc
          tmate: ${{ inputs.tmate-windows-pwsh }}

      - name: Setup Emacs dev build (dev branch)
        id: sed-dev
        if: >-
          ${{ inputs.branch == 'dev'
              || (inputs.branch == 'same-as-workflow'
                  && github.ref_name == 'dev' )}}
        uses: pkryger/setup-emacs-dev@dev
        with:
          dev-ref: dev-emacs-31-package-vc
          tmate: ${{ inputs.tmate-windows-pwsh }}

      - name: Checkout helper scripts
        uses: actions/checkout@v4
        with:
          path: setup-emacs-dev

      - name: Setup texinfo
        shell: pwsh
        run: |
          & ${{ github.workspace }}\setup-emacs-dev\setup-texinfo.ps1 `
              ${{ steps.sed-main.outputs.msys2-location || steps.sed-dev.outputs.msys2-location }}

      - name: Run packge-vc-tests (pwsh)
        shell: pwsh
        working-directory: >-
          ${{ steps.sed-main.outputs.path
              || steps.sed-dev.outputs.path }}
        run: |
          .\src\emacs -batch `
              -l ${{ github.workspace }}\setup-emacs-dev\.github\workflows\install-info-unixify-paths.el `
              -l ..\test\lisp\package-vc-tests.el `
              -f ert-run-tests-batch-and-exit
