name: Build and Test dev-emacs-31-package-vc

on:
  workflow_dispatch:
    inputs:
      tmate-windows:
        type: boolean
        description: '[Windows] Enable tmate'
        required: false
        default: false
      tmate-linux:
        type: boolean
        description: '[Linux] Enable tmate'
        required: false
        default: false
      tmate-macos:
        type: boolean
        description: '[macOS] Enable tmate'
        required: false
        default: false
  push:
    branches: [ main ]
    paths-ignore:
      - '**.md'
      - '**.org'
      - '.gitignore'
  pull_request:
    paths-ignore:
      - '**.md'
      - '**.org'
      - '.gitignore'

jobs:
  build-and-test:
    runs-on: ${{ matrix.os }}
    name: Build and Test dev-emacs-31-package-vc (${{ matrix.os }})

    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]

    steps:
      - name: Setup Emacs dev build
        id: setup-emacs-dev
        uses: pkryger/emacs-dev@main
        with:
          dev-ref: dev-emacs-31-package-vc
          tmate: >-
            ${{ (runner.os == 'Windows' && inputs.tmate-windows)
                || (runner.os == 'Linux' && inputs.tmate-linux)
                || (runner.os == 'macOS' && inputs.tmate-macos) }}

      - name: Checkout helper scripts
        uses: actions/checkout@v4
        with:
          path: setup-emacs-dev

      - name: Run package-vc-tests
        shell: setup-emacs-dev-bash {0}
        working-directory: ${{ steps.setup-emacs-dev.outputs.path }}
        run: |
          ./src/emacs -batch \
              -l "${{ github.workspace }}/setup-emacs-dev/configure-git.el" \
              -l ../test/lisp/package-vc-tests.el \
              -f ert-run-tests-batch-and-exit
